# Feedburner - reads from /atom.xml
Redirect 302 /feed http://feeds.feedburner.com/fzero-ca

# Bitbang
Redirect 301 /bitbang http://bitbang.ca
Redirect 301 /podcast http://bitbang.ca

# Grosserias
Redirect 301 /grosserias http://grosserias.mondofzero.com
Redirect 301 /lojadegrosserias http://grosserias.mondofzero.com

# Tumblr
Redirect 301 /blogrss http://fzero.ca/feed
Redirect 301 /rss http://fzero.ca/feed

# Social
Redirect 301 /picasa http://picasaweb.google.com/fabio.fzero
Redirect 301 /photos http://picasaweb.google.com/fabio.fzero
Redirect 301 /fotos http://picasaweb.google.com/fabio.fzero
Redirect 301 /facebook http://facebook.com/fabio.fzero
Redirect 301 /twitter http://twitter.com/fzero
Redirect 301 /googleplus http://google.com/profiles/fabio.fzero
Redirect 301 /plus http://google.com/profiles/fabio.fzero
Redirect 301 /gplus http://google.com/profiles/fabio.fzero
Redirect 301 /g+ http://google.com/profiles/fabio.fzero

# /20xx -> /blog/20xx
RedirectMatch 301 ^/20([0-9]{2})/(.*)$ http://fzero.ca/blog/20$1/$2

# /blog redirects
RedirectMatch 302 ^/blog/20([0-9]{2})(/?)$ http://fzero.ca/blog/archives
RedirectMatch 302 ^/blog/20([0-9]{2})/([0-9]{2})(/?)$ http://fzero.ca/blog/archives
RedirectMatch 301 ^/blog(/?)$ http://fzero.ca
