# Feedburner - reads from /atom.xml
Redirect 302 /feed http://feeds.feedburner.com/fzero-ca

# Bitbang
Redirect 301 /bitbang http://bitbang.ca
Redirect 301 /podcast http://bitbang.ca

# Grosserias
Redirect 301 /grosserias http://grosserias.mondofzero.com
Redirect 301 /lojadegrosserias http://grosserias.mondofzero.com

# Tumblr
Redirect 301 /blogrss http://fzero.ca/feed
Redirect 301 /rss http://fzero.ca/feed

# Social
Redirect 301 /picasa http://picasaweb.google.com/fabio.fzero
Redirect 301 /photos http://picasaweb.google.com/fabio.fzero
Redirect 301 /fotos http://picasaweb.google.com/fabio.fzero
Redirect 301 /facebook http://facebook.com/fabio.fzero
Redirect 301 /twitter http://twitter.com/fzero
Redirect 301 /googleplus http://google.com/profiles/fabio.fzero
Redirect 301 /plus http://google.com/profiles/fabio.fzero
Redirect 301 /gplus http://google.com/profiles/fabio.fzero
Redirect 301 /g+ http://google.com/profiles/fabio.fzero

# /20xx -> /blog/20xx
RedirectMatch 301 ^/20([0-9]{2})/(.*)$ http://fzero.ca/blog/20$1/$2

# /blog & archives redirects
RedirectMatch 302 ^/blog/20([0-9]{2})(/?)$ http://fzero.ca/blog/archives
RedirectMatch 302 ^/blog/20([0-9]{2})/([0-9]{2})(/?)$ http://fzero.ca/blog/archives
RedirectMatch 301 ^/blog(/?)$ http://fzero.ca
RedirectMatch 301 ^/archive(s?)(/?)$ http://fzero.ca/blog/archives
RedirectMatch 301 ^/blog/archive(/?)$ http://fzero.ca/blog/archives

# Error documents
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 410 /errors/404.html
ErrorDocument 500 /errors/500.html
ErrorDocument 502 /errors/500.html
ErrorDocument 503 /errors/500.html
ErrorDocument 504 /errors/500.html

# Redirecting photo-posts to Posterous
RedirectMatch 301 ^/blog/2010/12/sunny-winter-day-out-there/?$ http://fzero.posterous.com/sunny-winter-day-out-there
RedirectMatch 301 ^/blog/2010/12/streetcar/?$ http://fzero.posterous.com/streetcar
RedirectMatch 301 ^/blog/2010/12/i-dont-know-if-i-want-to-eat-this/?$ http://fzero.posterous.com/i-dont-know-if-i-want-to-eat-this
RedirectMatch 301 ^/blog/2010/12/yep-it-is-a-bit-cold-indeed/?$ http://fzero.posterous.com/yep-it-is-a-bit-cold-indeed
RedirectMatch 301 ^/blog/2010/12/snowy-balcony-outside-the-office/?$ http://fzero.posterous.com/snowy-balcony-outside-the-office
RedirectMatch 301 ^/blog/2010/12/on-ice/?$ http://fzero.posterous.com/on-ice
RedirectMatch 301 ^/blog/2010/12/booooooze/?$ http://fzero.posterous.com/booooooze
RedirectMatch 301 ^/blog/2010/12/good-morning/?$ http://fzero.posterous.com/good-morning
RedirectMatch 301 ^/blog/2010/12/truth-dare-wines/?$ http://fzero.posterous.com/truth-dare-wines
RedirectMatch 301 ^/blog/2011/01/1111/?$ http://fzero.posterous.com/1111
RedirectMatch 301 ^/blog/2011/01/pretending-i-have-a-lomo/?$ http://fzero.posterous.com/pretending-i-have-a-lomo
RedirectMatch 301 ^/blog/2011/01/stuff-on-my-cat/?$ http://fzero.posterous.com/stuff-on-my-cat
RedirectMatch 301 ^/blog/2011/01/good-morning-2/?$ http://fzero.posterous.com/good-morning-2
RedirectMatch 301 ^/blog/2011/01/transit/?$ http://fzero.posterous.com/transit
RedirectMatch 301 ^/blog/2011/01/chinatown/?$ http://fzero.posterous.com/chinatown
RedirectMatch 301 ^/blog/2011/01/witness-the-whiteness/?$ http://fzero.posterous.com/witness-the-whiteness
RedirectMatch 301 ^/blog/2011/01/lunch/?$ http://fzero.posterous.com/lunch
RedirectMatch 301 ^/blog/2011/01/sunny-winter-day/?$ http://fzero.posterous.com/sunny-winter-day
RedirectMatch 301 ^/blog/2011/01/thats-not-snow/?$ http://fzero.posterous.com/thats-not-snow
RedirectMatch 301 ^/blog/2011/01/bionic-travel/?$ http://fzero.posterous.com/bionic-travel
RedirectMatch 301 ^/blog/2011/01/20-outside/?$ http://fzero.posterous.com/20-outside
RedirectMatch 301 ^/blog/2011/01/queijo-minas/?$ http://fzero.posterous.com/queijo-minas
RedirectMatch 301 ^/blog/2011/01/fire-alarm/?$ http://fzero.posterous.com/fire-alarm
RedirectMatch 301 ^/blog/2011/01/neko/?$ http://fzero.posterous.com/neko
RedirectMatch 301 ^/blog/2011/01/high-park/?$ http://fzero.posterous.com/high-park
RedirectMatch 301 ^/blog/2011/02/good-morning-bjork/?$ http://fzero.posterous.com/good-morning-bjork
RedirectMatch 301 ^/blog/2011/02/good-morning-daniel/?$ http://fzero.posterous.com/good-morning-daniel
RedirectMatch 301 ^/blog/2011/02/positive/?$ http://fzero.posterous.com/positive
RedirectMatch 301 ^/blog/2011/02/sunset/?$ http://fzero.posterous.com/sunset
RedirectMatch 301 ^/blog/2011/02/drumnbass-is-alive-and-well/?$ http://fzero.posterous.com/drumnbass-is-alive-and-well
RedirectMatch 301 ^/blog/2011/02/on-the-way-home/?$ http://fzero.posterous.com/on-the-way-home
RedirectMatch 301 ^/blog/2011/02/watching-windows/?$ http://fzero.posterous.com/watching-windows
RedirectMatch 301 ^/blog/2011/03/lettuce/?$ http://fzero.posterous.com/lettuce
RedirectMatch 301 ^/blog/2011/03/ikea-cookies/?$ http://fzero.posterous.com/ikea-cookies
RedirectMatch 301 ^/blog/2011/03/keep-calm/?$ http://fzero.posterous.com/keep-calm
RedirectMatch 301 ^/blog/2011/03/foggy-morning/?$ http://fzero.posterous.com/foggy-morning
RedirectMatch 301 ^/blog/2011/03/hello-sun/?$ http://fzero.posterous.com/hello-sun
RedirectMatch 301 ^/blog/2011/03/moar-sun/?$ http://fzero.posterous.com/moar-sun
RedirectMatch 301 ^/blog/2011/03/hoodie-weather/?$ http://fzero.posterous.com/hoodie-weather
RedirectMatch 301 ^/blog/2011/03/good-morning-3/?$ http://fzero.posterous.com/good-morning-3
RedirectMatch 301 ^/blog/2011/03/jenga/?$ http://fzero.posterous.com/jenga
RedirectMatch 301 ^/blog/2011/03/seriously-spring/?$ http://fzero.posterous.com/seriously-spring
RedirectMatch 301 ^/blog/2011/03/the-catwatch-continues/?$ http://fzero.posterous.com/the-catwatch-continues
RedirectMatch 301 ^/blog/2011/03/the-horror/?$ http://fzero.posterous.com/the-horror
RedirectMatch 301 ^/blog/2011/03/ground-is-lava/?$ http://fzero.posterous.com/ground-is-lava
RedirectMatch 301 ^/blog/2011/04/heres-looking-at-you-kid/?$ http://fzero.posterous.com/heres-looking-at-you-kid
RedirectMatch 301 ^/blog/2011/04/poor-elan/?$ http://fzero.posterous.com/poor-elan
RedirectMatch 301 ^/blog/2011/04/shh-im-reading-your-mind/?$ http://fzero.posterous.com/shh-im-reading-your-mind
RedirectMatch 301 ^/blog/2011/04/omg-fog/?$ http://fzero.posterous.com/omg-fog
RedirectMatch 301 ^/blog/2011/04/yep-bike/?$ http://fzero.posterous.com/yep-bike
RedirectMatch 301 ^/blog/2011/04/new-favourite-beer/?$ http://fzero.posterous.com/new-favourite-beer
RedirectMatch 301 ^/blog/2011/04/winning/?$ http://fzero.posterous.com/winning
RedirectMatch 301 ^/blog/2011/04/kittehs/?$ http://fzero.posterous.com/kittehs
RedirectMatch 301 ^/blog/2011/04/king-and-peter/?$ http://fzero.posterous.com/king-and-peter
RedirectMatch 301 ^/blog/2011/04/lazy-sunday/?$ http://fzero.posterous.com/lazy-sunday
RedirectMatch 301 ^/blog/2011/04/by-the-lake/?$ http://fzero.posterous.com/by-the-lake
RedirectMatch 301 ^/blog/2011/04/soaking-some-rays/?$ http://fzero.posterous.com/soaking-some-rays
RedirectMatch 301 ^/blog/2011/05/sunny-finally/?$ http://fzero.posterous.com/sunny-finally
RedirectMatch 301 ^/blog/2011/05/at-tcaf/?$ http://fzero.posterous.com/at-tcaf
RedirectMatch 301 ^/blog/2011/05/blooming/?$ http://fzero.posterous.com/blooming
RedirectMatch 301 ^/blog/2011/05/cherry-blossoms-starting-to-bloom/?$ http://fzero.posterous.com/cherry-blossoms-starting-to-bloom
RedirectMatch 301 ^/blog/2011/05/evilan/?$ http://fzero.posterous.com/evilan
RedirectMatch 301 ^/blog/2011/05/cafe-palmenar/?$ http://fzero.posterous.com/cafe-palmenar
RedirectMatch 301 ^/blog/2011/05/free-times-cafe/?$ http://fzero.posterous.com/free-times-cafe
RedirectMatch 301 ^/blog/2011/05/dude-wheres-my-neighbourhood/?$ http://fzero.posterous.com/dude-wheres-my-neighbourhood
RedirectMatch 301 ^/blog/2011/05/temptation/?$ http://fzero.posterous.com/temptation
RedirectMatch 301 ^/blog/2011/05/best-end-of-the-world-ever/?$ http://fzero.posterous.com/best-end-of-the-world-ever
RedirectMatch 301 ^/blog/2011/05/hipster-est-biker/?$ http://fzero.posterous.com/hipster-est-biker
RedirectMatch 301 ^/blog/2011/05/im-always-discovering-new-beers-aroind-here/?$ http://fzero.posterous.com/im-always-discovering-new-beers-aroind-here
RedirectMatch 301 ^/blog/2011/05/mensch-maschine/?$ http://fzero.posterous.com/mensch-maschine
RedirectMatch 301 ^/blog/2011/05/cuteness/?$ http://fzero.posterous.com/cuteness
RedirectMatch 301 ^/blog/2011/05/bitbang-studio/?$ http://fzero.posterous.com/bitbang-studio
RedirectMatch 301 ^/blog/2011/05/looking-at-the-park/?$ http://fzero.posterous.com/looking-at-the-park
RedirectMatch 301 ^/blog/2011/06/chillin-at-high-park/?$ http://fzero.posterous.com/chillin-at-high-park
RedirectMatch 301 ^/blog/2011/06/hello-tee-dot-oh/?$ http://fzero.posterous.com/hello-tee-dot-oh
RedirectMatch 301 ^/blog/2011/06/ttc-goatse/?$ http://fzero.posterous.com/ttc-goatse
RedirectMatch 301 ^/blog/2011/06/good-morning-4/?$ http://fzero.posterous.com/good-morning-4
RedirectMatch 301 ^/blog/2011/06/ride-safely/?$ http://fzero.posterous.com/ride-safely
RedirectMatch 301 ^/blog/2011/06/yep-this-is-a-guy-with-a-dog-on-his-kayak/?$ http://fzero.posterous.com/yep-this-is-a-guy-with-a-dog-on-his-kayak
RedirectMatch 301 ^/blog/2011/06/cherry-beach-party/?$ http://fzero.posterous.com/cherry-beach-party
RedirectMatch 301 ^/blog/2011/07/strawberry-beer-ftw/?$ http://fzero.posterous.com/strawberry-beer-ftw
RedirectMatch 301 ^/blog/2011/07/i-couldnt-say-it-better-myself/?$ http://fzero.posterous.com/i-couldnt-say-it-better-myself
RedirectMatch 301 ^/blog/2011/07/summertime/?$ http://fzero.posterous.com/summertime
RedirectMatch 301 ^/blog/2011/07/at-the-baseball-game/?$ http://fzero.posterous.com/at-the-baseball-game
RedirectMatch 301 ^/blog/2011/07/good-neighbour/?$ http://fzero.posterous.com/good-neighbour
RedirectMatch 301 ^/blog/2011/07/martini-vision/?$ http://fzero.posterous.com/martini-vision
RedirectMatch 301 ^/blog/2011/07/now-its-on/?$ http://fzero.posterous.com/now-its-on
RedirectMatch 301 ^/blog/2011/07/put-that-back-in/?$ http://fzero.posterous.com/put-that-back-in
RedirectMatch 301 ^/blog/2011/07/skywheel/?$ http://fzero.posterous.com/skywheel
RedirectMatch 301 ^/blog/2011/07/the-falls/?$ http://fzero.posterous.com/the-falls
RedirectMatch 301 ^/blog/2011/07/union-station/?$ http://fzero.posterous.com/union-station
RedirectMatch 301 ^/blog/2011/07/american-falls/?$ http://fzero.posterous.com/american-falls
RedirectMatch 301 ^/blog/2011/07/haunted-houses-and-wax-museums/?$ http://fzero.posterous.com/haunted-houses-and-wax-museums
RedirectMatch 301 ^/blog/2011/08/renata-and-motherfucking-nikola-tesla/?$ http://fzero.posterous.com/renata-and-motherfucking-nikola-tesla
RedirectMatch 301 ^/blog/2011/08/accept-the-new-flesh/?$ http://fzero.posterous.com/accept-the-new-flesh
RedirectMatch 301 ^/blog/2011/08/new-bike-rack/?$ http://fzero.posterous.com/new-bike-rack
RedirectMatch 301 ^/blog/2011/08/bitbang-moocards/?$ http://fzero.posterous.com/bitbang-moocards
RedirectMatch 301 ^/blog/2011/08/cool-beans/?$ http://fzero.posterous.com/cool-beans
RedirectMatch 301 ^/blog/2011/08/playin-at-stella/?$ http://fzero.posterous.com/playin-at-stella
RedirectMatch 301 ^/blog/2011/09/old-city-hall/?$ http://fzero.posterous.com/old-city-hall
RedirectMatch 301 ^/blog/2011/09/so-renata-ordered-a-pina-colada/?$ http://fzero.posterous.com/so-renata-ordered-a-pina-colada
RedirectMatch 301 ^/blog/2011/09/i-can-has-bleep-bloop/?$ http://fzero.posterous.com/i-can-has-bleep-bloop
RedirectMatch 301 ^/blog/2011/10/at-the-distillery/?$ http://fzero.posterous.com/at-the-distillery
RedirectMatch 301 ^/blog/2011/10/house/?$ http://fzero.posterous.com/house
RedirectMatch 301 ^/blog/2011/10/daniel-looking-out/?$ http://fzero.posterous.com/daniel-looking-out
RedirectMatch 301 ^/blog/2011/10/tgif/?$ http://fzero.posterous.com/tgif
RedirectMatch 301 ^/blog/2011/10/o/?$ http://fzero.posterous.com/o
RedirectMatch 301 ^/blog/2011/11/good-morning-5/?$ http://fzero.posterous.com/good-morning
RedirectMatch 301 ^/blog/2011/11/relics/?$ http://fzero.posterous.com/relics
RedirectMatch 301 ^/blog/2011/11/raiden-and-master-chief-jamming-on-a-store-window/?$ http://fzero.posterous.com/raiden-and-master-chief-jamming-on-a-store-window
RedirectMatch 301 ^/blog/2011/12/ready-to-rock/?$ http://fzero.posterous.com/ready-to-rock
RedirectMatch 301 ^/blog/2011/12/shadowcat/?$ http://fzero.posterous.com/shadowcat
RedirectMatch 301 ^/blog/2011/12/now-its-winter/?$ http://fzero.posterous.com/now-its-winter
RedirectMatch 301 ^/blog/2012/01/stylophone-monotron-ableton/?$ http://fzero.posterous.com/stylophone-monotron-ableton
RedirectMatch 301 ^/blog/2012/01/i-want/?$ http://fzero.posterous.com/i-want
RedirectMatch 301 ^/blog/2012/01/cold-but-utterly-beautiful/?$ http://fzero.posterous.com/cold-but-utterly-beautiful
RedirectMatch 301 ^/blog/2012/01/quadruppel/?$ http://fzero.posterous.com/quadruppel
RedirectMatch 301 ^/blog/2012/01/on-my-way/?$ http://fzero.posterous.com/on-my-way
RedirectMatch 301 ^/blog/2012/01/so-colorful/?$ http://fzero.posterous.com/so-colorful
RedirectMatch 301 ^/blog/2012/01/yep-the-reso-is-cooler-the-path/?$ http://fzero.posterous.com/yep-the-reso-is-cooler-the-path
RedirectMatch 301 ^/blog/2012/01/please/?$ http://fzero.posterous.com/please
RedirectMatch 301 ^/blog/2012/02/aaahh/?$ http://fzero.posterous.com/aaahh
RedirectMatch 301 ^/blog/2012/02/lickable-colors-making-trippy-sounds/?$ http://fzero.posterous.com/lickable-colors-making-trippy-sounds
RedirectMatch 301 ^/blog/2012/02/sunny-winter-day-2/?$ http://fzero.posterous.com/sunny-winter-day-2
RedirectMatch 301 ^/blog/2012/02/surprisingly-my-cats-are-actually-using-the-new-cat-toy/?$ http://fzero.posterous.com/surprisingly-my-cats-are-actually-using-the-new-cat-toy
RedirectMatch 301 ^/blog/2012/02/what-my-production-notes-look-like/?$ http://fzero.posterous.com/what-my-production-notes-look-like
RedirectMatch 301 ^/blog/2012/02/pre-game-air-canada-centre/?$ http://fzero.posterous.com/pre-game-air-canada-centre
RedirectMatch 301 ^/blog/2012/02/winter-arrived-march/?$ http://fzero.posterous.com/winter-arrived-march
RedirectMatch 301 ^/blog/2012/03/first-patio-beer-of-the-year/?$ http://fzero.posterous.com/first-patio-beer-of-the-year
RedirectMatch 301 ^/blog/2012/03/agreed/?$ http://fzero.posterous.com/agreed
RedirectMatch 301 ^/blog/2012/03/i-love-restaurants-that-give-crayons/?$ http://fzero.posterous.com/i-love-restaurants-that-give-crayons
RedirectMatch 301 ^/blog/2012/04/from-the-streetcar/?$ http://fzero.posterous.com/from-the-streetcar
RedirectMatch 301 ^/blog/2012/04/kingspadina/?$ http://fzero.posterous.com/kingspadina
RedirectMatch 301 ^/blog/2012/04/bloor-west/?$ http://fzero.posterous.com/bloor-west
RedirectMatch 301 ^/blog/2012/05/battle-station/?$ http://fzero.posterous.com/battle-station
RedirectMatch 301 ^/blog/2012/05/way-to-go/?$ http://fzero.posterous.com/way-to-go
RedirectMatch 301 ^/blog/2012/05/best-neighbourhood-ever/?$ http://fzero.posterous.com/best-neighbourhood-ever
RedirectMatch 301 ^/blog/2012/05/lorena-bobbitts-favourite-knives/?$ http://fzero.posterous.com/lorena-bobbitts-favourite-knives
RedirectMatch 301 ^/blog/2012/05/my-smoking-hawt-new-babe/?$ http://fzero.posterous.com/my-smoking-hawt-new-babe
RedirectMatch 301 ^/blog/2012/06/lazy-saturday-morning/?$ http://fzero.posterous.com/lazy-saturday-morning
RedirectMatch 301 ^/blog/2012/06/canada-is-cold-dont-you-know/?$ http://fzero.posterous.com/canada-is-cold-dont-you-know
RedirectMatch 301 ^/blog/2012/06/family/?$ http://fzero.posterous.com/family
RedirectMatch 301 ^/blog/2012/07/currently-down-for-reason/?$ http://fzero.posterous.com/currently-down-for-reason
RedirectMatch 301 ^/blog/2012/08/ice-cream/?$ http://fzero.posterous.com/ice-cream
RedirectMatch 301 ^/blog/2012/09/relatively-delicious/?$ http://fzero.posterous.com/relatively-delicious
RedirectMatch 301 ^/blog/2012/09/moving-a-whole-building/?$ http://fzero.posterous.com/moving-a-whole-building
RedirectMatch 301 ^/blog/2012/09/silver-and-gold/?$ http://fzero.posterous.com/silver-and-gold
